<div class="d-flex justify-content-center flex-wrap bg-success">
  <h1 class="w-100 text-center">BIENVENIDO AL CHAT</h1>
  <div id="history" class="w-100 p-5 h-25 mt-3"></div>
  <div
    class="w-100 position-absolute bottom-0 d-flex justify-content-center align-items-center p-3 bg-warning"
  >
    <input type="text" id="msj" class="w-75" />
    <button class="me-5 w-25">Enviar</button>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>